In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import matplotlib.pylab as plb
import matplotlib as mpl
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
import numpy as np

In [2]:
data = pd.read_csv('HR_comma_sep.csv')
data["salary"] = data["salary"].replace(['low' , 'medium' , 'high'] , [0 , 1 , 2])

train=data.sample(frac=0.8,random_state=200)
test = data.drop(train.index)
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,0
1,0.80,0.86,5,262,6,0,1,0,sales,1
2,0.11,0.88,7,272,4,0,1,0,sales,1
3,0.72,0.87,5,223,5,0,1,0,sales,0
4,0.37,0.52,2,159,3,0,1,0,sales,0

In [3]:
traininput1 = train[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years', 'salary']].values
traintarget = train[["left"]].values
testinput1 = test[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years', 'salary']].values
testtarget = test[["left"]].values

forest = RandomForestClassifier(max_depth=10, min_samples_split=2, n_estimators = 100, random_state = 1)
my_forest = forest.fit(traininput1,traintarget)
print("Testing accuracy :" , my_forest.score(testinput1 , testtarget))
print("Training accuracy :" , my_forest.score(traininput1, traintarget))

features = list(my_forest.feature_importances_)
print("Importance of feattures:")
print("'satisfaction_level :{f[0]}', 'last_evaluation : {f[1]}', 'number_project: {f[2]}','average_montly_hours: {f[3]}', 'time_spend_company: {f[4]}', 'Work_accident: {f[5]}', 'promotion_last_5years: {f[6]}', 'salary: {f[7]}'".format(f = features))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

Testing accuracy : 0.98
Training accuracy : 0.983498624885
Importance of feattures:
'satisfaction_level :0.2939646730982466', 'last_evaluation : 0.1302923345005224', 'number_project: 0.2107434095155863','average_montly_hours: 0.14841883918801255', 'time_spend_company: 0.19661873452607467', 'Work_accident: 0.009268955262070555', 'promotion_last_5years: 0.0014297210817637946', 'salary: 0.009263332827723205'

In [4]:
traininput2= train[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company'
       ]].values
testinput2= test[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company'
       ]].values

forest2 = RandomForestClassifier( max_depth=10 , min_samples_split=2, n_estimators = 100, random_state = 1)

my_forest2 = forest2.fit(traininput2,traintarget)
print("Testing accuracy :" , my_forest2.score(testinput2 , testtarget))
print("Training accuracy :" , my_forest2.score(traininput2, traintarget))

features1 =  list(my_forest2.feature_importances_)
print("How important a feature is :")
print("'satisfaction_level :{f[0]}', 'last_evaluation : {f[1]}', 'number_project: {f[2]}','average_montly_hours: {f[3]}','time_spend_company: {f[4]}',".format(f = features1))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.

Testing accuracy : 0.983
Training accuracy : 0.986748895741
How important a feature is :
'satisfaction_level :0.3699487992464509', 'last_evaluation : 0.11846830156561125', 'number_project: 0.1944667418926653','average_montly_hours: 0.1332653613973561','time_spend_company: 0.1838507958979165',

In [5]:
plt.figure(figsize = (18,8))
plt.suptitle('Employees who left', fontsize=16)
plt.subplot(1,4,1)
plt.plot(data.satisfaction_level[data.left == 1],data.last_evaluation[data.left == 1],'o', alpha = 0.1)
plt.ylabel('Last Evaluation')
plt.title('Evaluation vs Satisfaction')
plt.xlabel('Satisfaction level')

plt.subplot(1,4,2)
plt.plot(data.satisfaction_level[data.left == 1],data.average_montly_hours[data.left == 1],'o', alpha = 0.1 )
plt.ylabel('Average Monthly Hours')
plt.title('Average hours vs Satisfaction ')
plt.xlabel('Satisfaction level')

plt.subplot(1,4,3)
plt.title('Salary vs Satisfaction ')
plt.plot(data.satisfaction_level[data.left == 1],data.salary[data.left == 1],'o', alpha = 0.1)
plt.xlim([0.4,1])
plt.ylabel('salary ')
plt.xlabel('Satisfaction level')

plt.subplot(1,4,4)
plt.title('Promotions vs Satisfaction ')
plt.plot(data.satisfaction_level[data.left == 1],data.promotion_last_5years[data.left == 1],'o', alpha = 0.1)
plt.xlim([0.4,1])
plt.ylabel('Promotion last 5years')
plt.xlabel('Satisfaction level')

Text(0.5,0,'Satisfaction level')